.product {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 403px;
  background-color: $color-white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 15px 16px 16px;

  &__photo {
    display: flex;
    box-sizing: content-box;
    height: 134px;
    width: 160px;
    padding: 15px 0 0;
    margin-bottom: 36px;
    border: 3px solid #f3f3f3;
    transition: transform linear $transition_time;

    &:hover {
      border: 3px solid #f3f3f3;
      transform: scale(1.2);
    }
  }

  &__name {
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: $color-black;
    margin-bottom: 4px;
  }

  &__cod {
    display: flex;
    height: 14px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: $color-grey;
  }
  
  &__raiting {
    display: flex;
    justify-content: space-between;
    height: 16px;
    margin-bottom: 24px;
  }

  &__feedback {
    display: flex;
    align-items: center;
    height: 16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    color: $color-black;
  }
  
  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  
  &__price-name {
    display: flex;
    align-self: center;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $color-grey;
  }
  
  &__price-cost {
    display: flex;
    font-size: 16px;
    height: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
    color: $color-black;
  }
  
  &__button {
    display: flex;
    height: 40px;
    width: 166px;
  }
  
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: $color-blue;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: $color-white;
  }
  
  &__link:hover {
    border: 1px solid $color-blue;
    background-color: $color-white;
    color: $color-blue;
    transition: $transition_time linear;
  }
  
}

.stars {
  display: flex;

  &__star {
    display: flex;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
  }

  &--1 &__star:first-child,
  &--2 &__star:nth-child(-n + 2),
  &--3 &__star:nth-child(-n + 3),
  &--4 &__star:nth-child(-n + 4),
  &--5 &__star:nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
  }
}
